@font-face{
font-family: 'brandonBld';
src: url('Brandon_bld.woff') format("woff");
}

@font-face{
font-family:'brandonReg';
src: url('Brandon_reg.woff') format("woff");
}

body{
background-color:black;
text-align: center;
font-family:'brandonReg', Fallback, sans-serif;
color:white;
}

body img{
max-width:800px;
margin:0;
padding:0;
}

a{
text-decoration:none;
padding:30px;
color:white;
text-shadow: 0 0 5px #a8beaf;
}

a:hover{
text-shadow: 0 0 5px black;
}

.header{
color:#a8beaf;
font-size:1.2em;
text-align: center;
margin: 20px 0 50px 0;
position:relative;
top:0;
}


.container{
display:inline-block;
max-width:800px;
}

.left{
text-align:right;
width:800px;
float:left;
margin:20px 0 20px 0;
}

.right{
text-align:left;
width:800px;
clear:left;
float:right;
margin:20px 0 20px 0;
}

.right p, .left p{
letter-spacing:.1em;
}

.right img, .left img{
max-width:350px;
}

.textBox{
width:400px;
}

.left img{
float:right;
}
